/*below it removes the basic styling of the browser*/
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: rgb(0, 9, 36);
	background: linear-gradient(
		47deg,
		rgba(0, 212, 255, 1) 100%,
		rgba(9, 9, 121, 1) 36%,
		rgba(0, 9, 36, 1) 16%
	);
	color: white;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
}

header {
	font-size: 1.5rem;
	font-weight: bold;
}

header,
form {
	min-height: 20vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
header,
form button {
	background: rgb(0, 9, 36);
	background: linear-gradient(
		47deg,
		rgba(0, 9, 36, 1) 16%,
		rgba(9, 9, 121, 1) 36%,
		rgba(0, 212, 255, 1) 100%
	);
}
form input,
form button {
	padding: 0.5rem;
	font-size: 2rem;
	border-radius: 1px;
	border-color: none;
	background-color: white;
	border: none;
}
form button {
	margin: -44px;
	color: white;
	cursor: pointer;
	transition: all 0.3s ease;
}

.todo-container {
	display: flex;
	justify-content: center;
	align-items: center;
}

.todo-list {
	min-width: 30%;
	list-style: none;
}

.todo {
	display: flex; /*all items display one next to another*/
	margin: 0.5rem;
	background-color: white;
	color: black;
	padding: 0.5rem;
	border-radius: 10px;
	justify-content: space-between;
	align-items: center;
	transition: all 0.5s ease;
}

li {
	flex: 1; /*it pushed the button icons to the right and next to each other*/
}

.trash-btn,
.complete-btn {
	padding: 1rem;
	margin: 0.1rem;
	background-color: rgb(255, 37, 37);
	color: white;
	border: none;
	cursor: pointer;
	font-size: 1rem;
}

.complete-btn {
	background-color: green;
}

.todo-item {
	padding: 0.1rem;
}

.fa-trash,
.fa-check {
	pointer-events: none;
}

/*we added this class, so had to style it now*/
.completed {
	text-decoration: line-through;
	opacity: 0.5;
}

/*animation of falling element*/
.fall {
	transform: translate(8rem) rotateZ(20deg);
	opacity: 0;
}

/*styling the select element*/
select {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	outline: none;
	border: none;
}

/*this is the div*/
.select {
	margin: 4rem;
	position: relative; /*using position: relative; keeps the element in the flow, it just moves the element position but physically it reserves space in the flow*/
	overflow: hidden;
}

select {
	color: #273494;
	width: 10rem;
	cursor: pointer;
	padding: 1rem; /*so the width is ok and the elements were centered(they were weird before)*/
	font-weight: bold;
	border-radius: 10px;
}

.select::after {
	content: "\25BC"; /*added a cursor*/
	position: absolute;
	background-color: rgb(18, 113, 245);
	top: 0;
	right: 0;
	padding: 1rem;
	pointer-events: none; /*I want to be able to click through it, not click it*/
	transition: all 0.5s ease;
}

.select:hover::after,
form button:hover {
	background: white;
	color: rgb(18, 113, 245);
}
